*
.DS_Store
!.gitignore
!.gitconfig

!.zshrc
!.profile
!.zshenv

!.config/
!.config/nvim/
!.config/nvim/*
!.config/nvim/*/**

!.config/yazi/
!.config/yazi/*
!.config/yazi/*/**

!.config/blink/
!.config/blink/*
!.config/blink/*/**


!.tmux.conf
!.tmux/
!.tmux/**
!.tmux/*/**

