[mgr]
show_hidden = true
linemode = "size"
sort_by = "natural"
sort_dir_first = true
sort_reverse = false

[preview]
max_width = 1000
max_height = 1000
image_filter = "lanczos3"
image_quality = 90
sixel_fraction = 10

[opener]
edit = [
  { run = '${EDITOR:-nvim} "$@"', block = true, for = "unix" },
]
open = [
  { run = 'open "$@"', for = "macos" },
]
reveal = [
  { run = 'open -R "$@"', for = "macos" },
]
play = [
  { run = 'mpv --force-window "$@"', orphan = true, for = "unix" },
  { run = 'open "$@"', for = "macos" },
]
pdf = [
  { run = 'open "$@"', for = "macos" },
]

[open]
rules = [
  { mime = "text/*", use = "edit" },
  { mime = "application/json", use = "edit" },
  { mime = "application/x-ndjson", use = "edit" },
  { mime = "application/*javascript*", use = "edit" },
  { mime = "application/*typescript*", use = "edit" },
  { mime = "application/toml", use = "edit" },
  { mime = "application/x-yaml", use = "edit" },
  { mime = "application/xml", use = "edit" },
  { mime = "application/x-sh", use = "edit" },
  { mime = "application/x-rust", use = "edit" },

  { mime = "video/*", use = "play" },
  { mime = "audio/*", use = "play" },
  { mime = "application/pdf", use = "pdf" },

  { mime = "inode/directory", use = "open" },
  { name = "*", use = "open" },
]

[plugin]
prepend_previewers = [
  { name = "*.md", run = "glow" },
]
